@using Entity.Models;
@model Subscribe
@{
    ViewData["Title"] = "EditSubscribe";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Abone Düzenleme Sayfası</h3>

    </div>

</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-block">


            <form method="post">
                <input type="hidden" asp-for="SubscribeId" />
                <label>Email</label>
                <br />
                <input type="text" asp-for="Email" class="form-control" />
                <br />
                <br />

                <button class="btn btn-outline-primary">Kaydet</button>
            </form>



        </div>
    </div>
</div>
