@using Entity.Models;
@model Testimonial
@{
    ViewData["Title"] = "AddTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Referans Ekleme Sayfası</h3>

    </div>

</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-block">


            <form method="post">

                <label>Ad Soyad</label>
                <br />
                <input type="text" asp-for="NameSurname" class="form-control" />
                <br />
                <label>Unvan</label>
                <br />
                <input type="text" asp-for="Title" class="form-control" />
                <br />
                <label>Görsel Url</label>
                <br />
                <input type="text" asp-for="ImageUrl" class="form-control" />
                <br />
                <label>Yorum</label>
                <br />
                <textarea type="text" asp-for="Comment" rows="7" class="form-control" ></textarea>
                

                <br />
                <br />
                <button class="btn btn-outline-primary">Kaydet</button>
            </form>



        </div>
    </div>
</div>



