
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
         
                

                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a href="/Account/InstructorLogin">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-briefcase text-primary mb-4"></i>
                            <h5 class="mb-3">Eğitmen Girişi</h5>
                            <p>Eğitmen paneline erişmek için tıklayın</p>
                        </div>
                    </div>
                </a>
                </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a href="/Account/StudentLogin">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                            <h5 class="mb-3">Öğrenci Girişi</h5>
                            <p>Öğrenci paneline erişmek için tıklayın</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a href="/Account/Login">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-user text-primary mb-4"></i>
                            <h5 class="mb-3">Admin Girişi</h5>
                            <p>Admin paneline erişmek için tıklayın</p>
                        </div>
                    </div>
                </a>
            </div>

            
        </div>
    </div>
</div>

