@using Entity.Models;
@model List<Comment>

<div class="tab-pane active" id="home" role="tabpanel">
    <div class="card-block">
        <div class="profiletimeline">
            @foreach (var item in Model)
            {
                <div class="sl-item">
                    <div class="sl-left"> <img src="~/userimages/@item.AppUser.Image" alt="user" class="img-circle"> </div>
                    <div class="sl-right">
                        <div>
                            <a href="#" class="link">@item.AppUser.NameSurname </a> <span class="sl-date">@item.CommentDate.ToString("dd-MMM-yyyy")</span>
                            <p class="m-t-10"> @item.Course.CourseName </p>
                            <p class="m-t-10"> @item.CommentText </p>
                        </div>
                        <div class="like-comm m-t-20"> <a href="javascript:void(0)" class="link m-r-10"></a> <a href="javascript:void(0)" class="link m-r-10"> </a> </div>
                    </div>
                </div>
                <hr>
            }
           
           
        </div>
    </div>
</div>