@using Entity.Models;
@model Instructor
@{
    ViewData["Title"] = "EditInstructor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Eğitmen Düzenleme Sayfası</h3>

    </div>

</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-block">


            <form method="post">
                <input type="hidden" asp-for="InstructorId" />
                <label>Ad</label>
                <br />
                <input type="text" asp-for="Name" class="form-control"  />
                <br />
                <label>Soyad</label>
                <br />
                <input type="text" asp-for="Surname" class="form-control" />
                <br />
                <label>Unvan</label>
                <br />
                <input type="text" asp-for="Title" class="form-control" />
                <br />
                <label>Görsel Url</label>
                <br />
                <input type="text" asp-for="Image" class="form-control" />
                <br />
                <label>Kapak Görseli Url</label>
                <br />
                <input type="text" asp-for="CoverImage" class="form-control" />
                <br />
                <label>Facebook URL</label>
                <br />
                <input type="text" asp-for="Facebook" class="form-control" />
                <br />
                <label>Twitter URL</label>
                <br />
                <input type="text" asp-for="Twitter" class="form-control" />
                <br />
                <label>Instagram URL</label>
                <br />
                <input type="text" asp-for="Instagram" class="form-control" />

                <br />
                <br />
                <button class="btn btn-outline-primary">Kaydet</button>
            </form>



        </div>
    </div>
</div>


