@using Entity.Models;
@model List<AboutUs>

<div class="container-xxl py-5">
    <div class="container">

        <div class="row g-5">
          
                
            
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    @foreach (var item in Model)
                    {
                    <img class="img-fluid position-absolute w-100 h-100" src="@item.Image" alt="" style="object-fit: cover;">
                    }
                </div>
            </div>
            
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Hakkımızda</h6>
                @foreach (var item in Model)
                {
                    
                
                <h1 class="mb-4">@item.Title</h1>
                <p class="mb-4">@item.Description</p>
             
                }
                <div class="row gy-2 gx-4 mb-4">
                    @foreach (var item in Model)
                    {
                        
                    
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>@item.Item</p>
                    </div>
                    }
             
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Devamını Oku</a>
            </div>
        </div>
    </div>
</div>