@model LoginViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<br /><br />

<div class="card container-fluid text-lg-center" >
    <h3>Öğrenci Giriş Sayfası</h3>
</div>
<br />
<form method="post" asp-action="Login">
    <div class="container">
        <label>Kullanıcı Adınız</label>
        <input type="text" class="form-control" asp-for="Username" />
        <br />
       
        <label>Şifreniz</label>
        <input type="password" class="form-control" asp-for="Password" />
        <br />
        <p style="color:red">@Html.ValidationSummary() </p>
        <button type="submit" class="btn btn-dark">Giriş Yap</button>
    </div>
</form>
